.wizard
{
	width: 100%;
	overflow: hidden;
	-webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
}

.wizard-item
{
	width: 18%;
	text-align: center;
	display: inline-block;
}

.wizard-item-icon
{
	padding-top: 10px;
	width: 40px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.wizard-item-text
{
	padding: 5px;
	
}

.wizard-item-text-done
{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	color: #18bc9c;
}

.wizard-item-selected
{
	width: 18%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.wizard-item-selected-icon
{
	width: 50px;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    filter:         drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.wizard-item-selected-text
{
	border: 1px solid #b7bf69;
	border-radius: 50px;
	background-color: #f5ff8c;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	min-width: 50px;
}

hr.line-shadow
{
	 height: 15px;
	 border: 0;
	 box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	 margin-top: 0px;
}

.container-wizard
{
	overflow: hidden;
}

.quota-list
{
	padding: 16px;
}

.sticky-quota-list
{
	position: fixed;
	top: 0;
	z-index: 99999999999999;
}

.sticky-quota-list + .container-quota
{
	  padding-top: 60px;
}

.quota-card
{
	border: 1px solid;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #fcfcfc;
	border-radius: 10px;	
}

.quota-card:hover
{
	border: 1px solid;
	-webkit-filter: drop-shadow(5px 5px 5px #b2b2b2);
    filter:         drop-shadow(5px 5px 5px #b2b2b2);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.quota-card-button
{
	font-size: 14px;
	width: 100%;
}
.container-cus {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.freelancer-bg-color {
	color: #18bc9c;
}

@media (max-width: 767px) {
	.wizard-item-text, .wizard-item-selected-text, .wizard-item-text-done
	{
		font-size: 13px;
	}
}

@media (max-width: 500px) {
	.wizard-item-text, .wizard-item-selected-text, .wizard-item-text-done
	{
		font-size: 11px;
	}
	.wizard-item-icon
	{
		width: 30px;
		padding-left: 5px;
	}
	.wizard-item-selected-icon
	{
		width: 40px;
		padding-left: 5px;
	}
}

.font-color-freelancer {
	color: #128f76;
}

.auth-alt {
	width:100%;
	text-align:center;
	border-bottom: 1px solid #000;
	line-height:0.1em;
	margin:10px 0 20px;
}

.auth-alt .auth-alt-text {
	background:#fff;
	padding:0 10px;
}

.btn-login, .btn-login-google {
	width: 100%;
	height: 50px;
	font-size: 18px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.btn-login-google {
	background-color: #e2001f;
	color: white;
	vertical-align: middle;

}

.btn-login-google:hover {
	background-color: #8e0014;
	color: white;
	vertical-align: middle;
}

.footer-fixed-below {
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

.font-color-green {
	color: #41c164;
}

.font-color-red {
	color: #c6351b;
}

.a-nav-item {
	margin-top:-15px;
	margin-bottom: -30px;
	text-align: center;
}

.i-nav-item {
	font-size:25px;
	color:#18bc9c;
}
.dropdown-menu {
	margin-top: 100px;
}
.check-in-photo-div{
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 100px;
	padding: 0 auto;
}
.check-in-photo{
	width: 200px;
	margin: 0 auto;
	vertical-align: top;
	position: relative;
	top: -15px;
}